<div class="row">
	<div class="span9">
	  <% @posts.each do |post| %>
	  	<div class="white-box">
		    <h1><%= link_to post.title, post, :title => post.title %></h1>
		    <p><%= raw(post.content) %></p>
		    <hr />
		    <span class="date"><%= post.created_at.strftime("%a, %b %e - %Y at %l:%M") %></span>
		    <span class="comments right"><%= link_to "#{post.comments.count} Comments", post %></span>
		  </div>
	  <% end %>
	  <%= will_paginate @posts %>
	</div>
</div>